<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/removeIncome.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments:: navigation"></div>

<div class="row">
    <div class="col-md-3"></div>

        <div class="col-md-6">

            <form method="post" action="/income/remove">

                <div class="table-wrapper">
                    <table>
                        <tr>
                            <th>Date added</th>
                            <th>Income</th>
                            <th>Frequency</th>
                        </tr>

                        <tr th:each="income : ${user.incomes}" >
                            <td th:text="${income.date}"></td>
                            <td><input type="checkbox" name="incomeIds" th:value="${income.id}" th:id="${income.id}"/>
                                <label th:for="${income.id}" th:text="${income.source}"></label></td>
                            <td th:unless="${income.weeklyAmount > 0}" th:text="Daily"></td>
                            <td th:if="${income.weeklyAmount > 0}" th:text="Weekly"></td>
                        </tr>

                    </table>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input class="remove-button" type="submit" value="Remove Incomes" />
                        </div>
                    <div class="col-md-4"></div>
                </div>

            </form>

        </div>

    <div class="col-md-3"></div>
</div>

</body>
</html>