<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/income.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments:: navigation"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="table-wrapper">

            <table>
                <tr class="table-column">
                    <th class="date-shorten">Date</th>
                    <th>Source</th>
                    <th>Earned</th>
                </tr>

                <tr th:each="income : ${user.incomes}">
                    <td class="date-shorten" th:unless="${income.dailyAmount == 0}" th:text="${income.date}"></td>
                    <td th:unless="${income.dailyAmount == 0}" th:text="${income.source}"></td>
                    <td th:unless="${income.dailyAmount == 0}" th:text="'$ ' + ${income.dailyAmount}"></td>
                </tr>

                <tr th:each="income : ${partnerIncomes}">
                    <td class="date-shorten" th:unless="${income.dailyAmount == 0}" th:text="${income.date}"></td>
                    <td th:unless="${income.dailyAmount == 0}" th:text="${income.source}"></td>
                    <td th:unless="${income.dailyAmount == 0}" th:text="'$ ' + ${income.dailyAmount}"></td>
                </tr>

                <tr th:unless="${numberOfDailyIncomes >= 16}">
                    <td class="table-column" colspan="2">Total daily income:</td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(dailyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </table>

        </div>

            <table th:if="${numberOfDailyIncomes >= 16}">
                <tr>
                    <td class="table-column" colspan="2">Total daily income:</td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(dailyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </table>

    </div>

    <div class="col-md-2"></div>
</div>

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">

        <form method="post" class="form-inline income-form" action="/income/add-daily-income" th:object="${income}">

            <div class="form-group">
                <span class="error errors" th:errors="*{source}"></span>
                <label th:for="name">Source</label>
                <input class="form-control" th:field="*{source}"/>
            </div>

            <div class="form-group cost">
                <label th:for="dailyAmount">Earned</label>
                <span class="error errors" th:errors="*{dailyAmount}" th:text="'Please enter a valid number (i.e. 10.50)'"></span>
                <input class="form-control" th:field="*{dailyAmount}"/>
                <input type="submit" value="Add daily income"/>
            </div>

        </form>

    </div>

    <div class="col-md-2"></div>
</div>

</body>
</html>
