<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/jsoup.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<h3>Enter an item below to find deals on related items!</h3>


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <label for="searchTerm"></label>
            <input type="text" id="searchTerm" name="searchTerm"/>
            <input type="submit" value="Find deals"/>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>




</body>
</html>