<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/jsoup.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<div class="row">
    <div class="col-md-2"></div>

        <div class="col-md-8">

           <table>
               <tr>
                   <th>Retailer</th>
                   <th>Title</th>
                   <th>Price</th>
               </tr>

               <tr th:each="title,index : ${titles}" th:unless="${title.length() == 0}">
                   <td th:text="${stores[index.index]}"></td>
                   <td><a th:href="${links[index.index]}" th:text="${titles[index.index]}"></a></td>
                   <td th:text="${prices[index.index]}"></td>
               </tr>
           </table>

        </div>

    <div class="col-md-2"></div>
</div>

</body>
</html>