<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/add-expense.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments:: navigation"></div>

<!--<h3>Current categories:</h3>-->

<!--<ul>-->
    <!--<li th:each="expense : ${user.expenses}" th:text="${expense.category.name}"></li>-->
<!--</ul>-->


<!--<h3>Current expenses:</h3>-->

<!--<ul>-->
    <!--<li th:each="expense : ${user.expenses}" th:text="${expense.name}"></li>-->
<!--</ul>-->

<div class="row">


    <div class="col-md-4">
        <form method="post" action="/category/add" th:object="${category}">
            <div class="form-group">
                <label th:for="name">Category</label>
                <input class="form-control" th:field="*{name}"/>
                <span th:errors="*{name}"></span>
                <br>
                <input type="submit" value="Add category"/>
            </div>
        </form>

    </div>

    <div class="col-md-4">
        <form method="post" action="/expense/add" th:object="${expense}">

            <div class="form-group">
                <label th:for="category">Category</label>
                <select name="categoryId">
                    <option th:each="category : ${categories}"
                            th:text="${category.name}"
                            th:value="${category.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <label th:for="name">Expense</label>
                <input class="form-control" th:field="*{name}"/>
                <span th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label th:for="cost">Cost</label>
                <input class="form-control" th:field="*{cost}"/>
                <span th:errors="*{cost}"></span>
                <br>
                <input type="submit" value="Add expense"/>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form method="post" th:object="${expense}">
            <div class="form-group">
                <label for="category">Category</label>
                <input class="form-control" id="category" name="categoryName"/>
            </div>

            <div class="form-group">
                <label th:for="name">Expense</label>
                <input class="form-control" th:field="*{name}"/>
                <span th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label th:for="cost">Cost</label>
                <input class="form-control" th:field="*{cost}"/>
                <span th:errors="*{cost}"></span>
                <br>
                <input type="submit" value="Add all"/>
            </div>
        </form>
    </div>

</div>


</body>
</html>