<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <!--<script type="text/javascript" th:src="@{/js/settings.js}"></script>-->


</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<!-- TODO Delete or finish google sign in-->
<!--<div class="data">-->
    <!--<h5>Profile Details</h5>-->
    <!--<img id="pic" class="image-circle" width="100" height="100"/>-->
    <!--<h5>Email</h5>-->
    <!--<p id="email"></p>-->
    <!--<button onClick="signout()" class="btn btn-danger">Sign Out</button>-->
<!--</div>-->

<h5>Share Expenses and Income with:</h5>

<form method="post">
    <label for="userName"></label>
    <input type="text" id="userName" name="userName"/>
    <input type="submit" value="Send Request"/>
</form>
<span class="error" th:text="${userError}"></span>
<span th:text="${requestSent}"></span>

</body>
</html>