table, th, td{
    border: 1px solid black;
}

table{
    width: 100%;

}

.table-column{
    background-color: #dddddd;
}

.table-wrapper{
        display: block;
        overflow-y: auto;
        height: 400px;
}

.date-shorten{
    width: 35%;
}