table, th, td{
    border: 1px solid black;
}

table{
    width: 100%;

}

.table-column{
    background-color: #dddddd;
}

.table-wrapper{
        display: block;
        overflow-y: auto;
        height: 200px;
}

.new-user{
    position: relative;
    left: 20px;
    top: -150px;
}

.header-align, .summary, th{
    text-align: center;
}

.shift-right{
    width: 30%;
}