table, th, td{
    padding: 5px;
    border: 1px solid black;
}

table{
    width: 100%;

}

h3 {
    text-align: center;
}

.form-submit{
    width: 80%;
    margin-left: 4px;
}

.form-text-box{
    width: 80%;
}