table, th, td{
    border: 1px solid black;
}

table{
    width: 100%;

}

.table-wrapper{
        display: block;
        overflow-y: auto;
        height: 350px;
}


label{
    font-weight: normal;
}

.remove-button{
    float: right;
}