<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/editExpense.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments:: navigation"></div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

            <div class="table-wrapper">

                <table>
                    <tr class="table-column">
                        <th class="date-shorten">Date added</th>
                        <th class="item-lengthen">Name</th>
                        <th>Cost</th>
                        <th>Frequency</th>
                        <th>Selection</th>
                    </tr>

                    <tr th:each="expense : ${user.expenses}">
                        <td class="date-shorten" th:text="${expense.date}"></td>
                        <td th:text="${expense.name}"></td>
                        <td th:unless="${expense.dailyCost == 0}" th:text="'$ ' + ${expense.dailyCost}"></td>
                        <td th:unless="${expense.weeklyCost == 0}" th:text="'$ ' + ${expense.weeklyCost}"></td>

                        <td th:unless="${expense.weeklyCost > 0}" th:text="Daily"></td>
                        <td th:if="${expense.weeklyCost > 0}" th:text="Weekly"></td>
                        <td>
                            <a th:href="@{'/expense/edit/' + ${expense.id}}">Edit</a>
                        </td>
                    </tr>
                </table>

             </div>

        <div class="col-md-2"></div>

    </div>
</div>

</body>
</html>