<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head >

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/editExpense.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments:: navigation"></div>

<div class="row">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <form method="post" class=" expense-form" action="/expense/edit" th:object="${expense}">

            <div class="form-group">
                <label th:for="category">Category</label>
                <select name="categoryId">
                    <option th:each="category : ${user.categories}"
                            th:text="${category.name}"
                            th:value="${category.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <span class="error errors" th:errors="*{date}"></span>
                <label th:for="date">Date</label>
                <input class="form-control" th:field="*{date}" />
            </div>

            <div class="form-group">
                <span class="error errors" th:errors="*{name}"></span>
                <label th:for="name">Expense</label>
                <input class="form-control" th:field="*{name}" />
            </div>

            <div th:unless="${expense.dailyCost == 0}" class="form-group cost">
                <label th:for="dailyCost">Daily cost</label>
                <span class="error errors" th:errors="*{dailyCost}" th:text="'Please enter a valid number (i.e. 10.50)'"></span>
                <input class="form-control" th:field="*{dailyCost}"/>
            </div>

            <div th:unless="${expense.weeklyCost == 0}" class="form-group cost">
                <label th:for="weeklyCost">Weekly cost</label>
                <span class="error errors" th:errors="*{weeklyCost}" th:text="'Please enter a valid number (i.e. 10.50)'"></span>
                <input class="form-control" th:field="*{weeklyCost}"/>
            </div>

            <input type="submit" value="Save"/>

        </form>

    </div>

    <div class="col-md-4"></div>

</div>

</body>
</html>