<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <div th:fragment="head" th:remove="tag">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="google-signin-client_id" content=".apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="js/global.js"></script>
        <title th:text="${title}"></title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </div>

    <div th:fragment="navBarMargin" th:remove="tag">
        <link rel="stylesheet" th:href="@{/css/fragments.css}" />
    </div>

</head>

<body>

    <div th:fragment="navigation" th:remove="tag">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">Budget Master</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/expense/view-daily">Daily Expense</a></li>
                    <li><a href="/income/view-daily">Daily Income</a></li>
                    <li><a href="/price-comparison">Deals</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li th:unless="${user.userName == null}"><span th:text="'Signed in as: ' + ${user.userName}" class="user"></span></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Category
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/add-expense"><span class="glyphicon glyphicon-plus"></span> Add Category</a></li>
                            <li><a href="/category/remove"><span class="glyphicon glyphicon-minus"></span> Remove Category </a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Expense
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/add-expense"><span class="glyphicon glyphicon-plus"></span> Add expenses</a></li>
                            <li><a href="/expense/edit-selection"><span class="glyphicon glyphicon-pencil"></span> Edit Expense </a></li>
                            <li><a href="/expense/remove"><span class="glyphicon glyphicon-minus"></span> Remove Expense </a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Income
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/income/add"><span class="glyphicon glyphicon-plus"></span> Add Income</a></li>
                            <li><a href="/income/edit-selection"><span class="glyphicon glyphicon-pencil"></span> Edit Income</a></li>
                            <li><a href="/income/remove"><span class="glyphicon glyphicon-minus"></span> Remove Income</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">User
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/settings"><span class="glyphicon glyphicon-cog"> Settings </span> </a></li>
                            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"> Login </span> </a></li>
                            <li><a href="/user/register"><span class="glyphicon glyphicon-user"> Register </span></a></li>
                            <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"> Logout </span> </a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

    </div>

</body>
</html>