<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<br>

<table>
    <tr class="table-column">
        <th>Date</th>
        <th>Expense</th>
        <th>Cost</th>
        <th>Category</th>
    </tr>
    <tr th:each="expense : ${user.expenses}">
        <td th:text="${expense.date}">add date here</td>
        <td th:text="${expense.name}">add expense here</td>
        <td th:text="'$' + ' ' + ${expense.cost}">add cost here</td>
        <td th:text="${expense.category.name}">add category here</td>
    </tr>

</table>



</body>
</html>