<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<div class="row">
    <div class="col-md-8">

        <h3>Expense:</h3>

        <div class="table-wrapper">
            <table>
                <tr class="table-column">
                    <!--<th>Date</th>-->
                    <th>Expense</th>
                    <th>Weekly Cost</th>
                    <th>Monthly Cost</th>
                </tr>

                <tr th:each="expense : ${user.expenses}">
                    <!--<td th:text="${expense.date}"></td>-->
                    <td th:text="${expense.name}"></td>
                    <td th:text="'$ ' + ${expense.weeklyCost}"></td>
                    <td th:text="'$ ' + ${expense.monthlyCost}"></td>
                    <!--<td th:text="${expense.category.name}"></td>-->
                </tr>

                <tr>
                    <td class="table-column" colspan="2">Total Monthly Expenses:</td>
                    <td th:text="'$ ' + ${monthlyExpenseTotal}"></td>
                </tr>


            </table>
        </div>

        <p class="new-user" th:unless="${user.expenses.size()}">Add your expenses to get started!</p>


    </div>

    <div class="col-md-4">

        <h3>Income:</h3>
        <div class="table-wrapper">
            <table>
                <tr class="table-column">
                    <th>Source</th>
                    <th>Weekly</th>
                    <th>Monthly</th>
                </tr>
                <tr th:each="income : ${user.incomes}">
                    <td th:text="${income.source}"></td>
                    <td th:text="'$ ' + ${income.weeklyAmount}"></td>
                    <td th:text="'$ ' + ${income.monthlyAmount}"></td>
                </tr>

                <tr>
                    <td class="table-column" colspan="2">Total Monthly Income:</td>
                    <td th:text="'$ ' + ${monthlyIncomeTotal}"></td>
                </tr>

            </table>
        </div>
        <p class="new-user" th:unless="${user.incomes.size()}">Add your income to get started!</p>


    </div>
</div>






</body>
</html>