<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <div th:replace="fragments :: head"></div>
    <div th:replace="fragments :: navBarMargin"></div>
    <link rel="stylesheet" th:href="@{/css/home.css}" />

</head>

<body class="container marginUnderNavBar">

<div th:replace="fragments :: navigation"></div>

<div th:if="${requestedBy}" class="alert alert-warning request alert-dismissible">
    <strong th:text="${requestedBy}"></strong> would like to share their finances with you!
    <a href="/home/deny" class="btn btn-danger choice-buttons" data-dismiss="alert" role="button">Deny</a>
    <a href="/home/accept" class="btn btn-success choice-buttons" data-dismiss="alert" role="button">Accept</a>
    <a class="close" data-dismiss="alert" aria-label="close">Maybe</a>
</div>

<div class="row">
    <div class="col-md-6">

        <h3>Weekly and Monthly Expenses</h3>

        <div class="table-wrapper">

            <table>
                <tr class="table-column">
                    <th>Category</th>
                    <th>Expense</th>
                    <th>Weekly Cost</th>
                    <th>Monthly Cost</th>
                </tr>

                <tr th:each="expense : ${user.expenses}">
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="${expense.category.name}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="${expense.name}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="'$ ' + ${expense.weeklyCost}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="'$ ' + ${expense.monthlyCost}"></td>
                </tr>

                <tr th:each="expense : ${partnerExpenses}">
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="${expense.category.name}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="${expense.name}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="'$ ' + ${expense.weeklyCost}"></td>
                    <td th:unless="${expense.category == null or expense.weeklyCost == 0}" th:text="'$ ' + ${expense.monthlyCost}"></td>
                </tr>

                <tr th:unless="${user.expenses.size() - numberOfDailyExpenses >= 9}">
                    <td class="table-column" colspan="3">Total Monthly Expenses:</td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyExpenseTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </table>

        </div>

        <table th:if="${user.expenses.size() - numberOfDailyExpenses >= 9}">
            <tr>
                <td class="table-column" colspan="3">Total Monthly Expenses:</td>
                <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyExpenseTotal, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
        </table>

        <p class="new-user" th:unless="${user.expenses.size() != 0 or partnerExpenses.size() != 0}">Add your expenses to get started!</p>

    </div>

    <div class="col-md-6">

        <h3>Weekly and Monthly Income</h3>

        <div class="table-wrapper">

            <table>
                <tr class="table-column">
                    <th class="shift-right">Income</th>
                    <th>Weekly Income</th>
                    <th>Monthly Income</th>
                </tr>
                <tr th:each="income : ${user.incomes}">
                    <td class="shift-right" th:unless="${income.weeklyAmount == 0}" th:text="${income.source}"></td>
                    <td th:unless="${income.weeklyAmount == 0}" th:text="'$ ' + ${income.weeklyAmount}"></td>
                    <td th:unless="${income.weeklyAmount == 0}" th:text="'$ ' + ${income.monthlyAmount}"></td>
                </tr>

                <tr th:each="income : ${partnerIncomes}">
                    <td class="shift-right" th:unless="${income.weeklyAmount == 0}" th:text="${income.source}"></td>
                    <td th:unless="${income.weeklyAmount == 0}" th:text="'$ ' + ${income.weeklyAmount}"></td>
                    <td th:unless="${income.weeklyAmount == 0}" th:text="'$ ' + ${income.monthlyAmount}"></td>
                </tr>

                <tr th:unless="${user.incomes.size() - numberOfDailyIncomes >= 9}">
                    <td class="table-column" colspan="2">Total Monthly Income:</td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </table>

        </div>

        <table th:if="${user.incomes.size() - numberOfDailyIncomes >= 9}">
            <tr>
                <td class="table-column" colspan="2">Total Monthly Income:</td>
                <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
        </table>

        <p class="new-user" th:unless="${user.incomes.size() != 0 or partnerIncomes.size() != 0}">Add your income to get started!</p>

    </div>
</div>

<br>

<div class="row">

    <div class="col-md-12">
        <h3 class="header-align">Annual summary</h3>
    </div>

</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <table>
            <tr class="table-column">
                <th>Total Net Income</th>
                <th>Total Expenses</th>
                <th>Balance</th>
            </tr>

            <tr>
                <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyIncomeTotal * 12 + dailyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyExpenseTotal * 12 + dailyExpenseTotal, 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="'$ ' + ${#numbers.formatDecimal(monthlyIncomeTotal * 12 - monthlyExpenseTotal * 12 - dailyExpenseTotal + dailyIncomeTotal, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
        </table>

    </div>

    <div class="col-md-2"></div>
</div>

<br>

<div class="row">
    <div class="col-md-2"></div>

        <div class="col-md-8">
            <p class="summary"> If your balance is a positive number, you can
                add the extra money to your savings. If your <br> expenses exceed your income, you’ll need to make
                some adjustments to get back into the positive.</p>
        </div>

    <div class="col-md-2"></div>
</div>

</body>
</html>